@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    max-width: 1920px;
    height: 180px;
    align-items: center;
}
.header .sub-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 1612px;
    margin-left: 150px;
}
header div>h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
header div button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    height: 80px;
    width: 312px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
}
header div button>a{
    text-decoration: none;
}
.section-bg-1{
    display: flex;
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    height: 820px;
    max-width: 1920px;
    justify-content: center;
}
.hero{
    display: flex;
    flex-direction: column;
    height: 768px;
    max-width: 1318px;
    align-items: center;
    margin-top:34px;
}
.hero div{
    width: 1318px;
    height: 316px;
    text-align: center;
}
.hero h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    height: 180px;
}
.hero p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    width: 1124px;
    height: 68px;
    border-top: 31px;
}
.hero button{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    width: 274px;
    height: 90px;
    margin-top: 42px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}
.hero button>a{
    text-decoration: none;
    color: white;
}

        /* 1st section's css end here */

.section-bg-2{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    width: 1500px;
    height: 1950px;
    margin: 90px auto 0 auto;
    border: 1px solid white;
}
.section-2{
    width: 1248px;
    height: 1750px;
    margin: 100px auto;
    
}
.first-division{
    height: 125px;
    margin: 0 60px;
}
.first-division h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center; 
}
.first-division p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 32px;
}
.second-division{
    display: flex;
    height: 478px;
    margin: 42px 60px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 225),rgba(255, 255, 255, 0) 100%);
    
}
.second-division-child{
    display: flex;
    margin: 63px;
    width: 2000px;
    justify-content: space-between;
}
.second-division-child-div1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 550px;
}
.second-division-child-div1 h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.second-division-child-div1 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.second-division-child-div1 button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    width: 198px;
    height: 63px;
}
.second-division-child-div1 button a{
    text-decoration: none;
}
.second-division-child-div2{
    display: flex;
    width: 360px;
    justify-content: center;
}

.third-division{
    display: flex;
    height: 478px;
    margin: 42px 60px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 225),rgba(255, 255, 255, 0) 100%);
}
.third-division-child{
    display: flex;
    margin: 63px;
    width: 360px;
    justify-content: space-between;
}
.third-division-child-div1{
    display: flex;
    width: 360px;
    justify-content: center;
}

.third-division-child-div2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 550px;
}
.third-division-child-div2 h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.third-division-child-div2 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.third-division-child-div2 button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    width: 198px;
    height: 63px;
}
.third-division-child-div2 button a{
    text-decoration: none;
}
.fourth-division{
    display: flex;
    height: 478px;
    margin: 42px 60px 60px 60px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 225),rgba(255, 255, 255, 0) 100%);
}
.fourth-division-child{
    display: flex;
    margin: 63px;
    width: 2000px;
    justify-content: space-between;
}
.fourth-division-child-div1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 550px;
}
.fourth-division-child-div1 h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.fourth-division-child-div1 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.fourth-division-child-div1 button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    width: 198px;
    height: 63px;
}
.fourth-division-child-div1 button a{
    text-decoration: none;
}
.fourth-division-child-div2{
    display: flex;
    width: 360px;
    justify-content: center;
}